.content {
    font-size: xx-small;
    color:white;
    line-break:inherit;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
}