h1, h2, p {
    color: white;
}

.content  {
    text-align: center;
}

.versions {
    background-color: transparent;
    height: 80vh;
    width: 750px;
    border: 1.5px solid transparent;
    margin: auto;
}